{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/logo.png' %}">
    <link rel='stylesheet' type='text/css' href='{% static "/css/styles.css" %}'>
</head>

<body class="">

    {% include '_navbar.html' %}

    <main class="min-vh-100">

        {% block body %}
        {% endblock %}
        
    </main>

    {% include '_footer.html' %}

    <script src='{% static "/js/scripts.js" %}'></script>

</body>

</html>