{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<main class="container p-4 shadow-lg p-3 mb-5 bg-white rounded my-5">

    <h2 class="text-center mb-3">Parceiros</h2>
    {% include 'parceiros/_breadcrumb.html' %}
    {% include '_messages.html' %}

    <button data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-sm btn-primary btn-sm mb-3">CADASTRAR NOVO PARCEIRO</button>

    <div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="createModal" aria-hidden="true">

        <div class="modal-dialog">

            <form method="POST">
                {% csrf_token %}

                <div class="modal-content">

                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title">CRIAR NOVO PARCEIRO</h5>
                    </div>

                    <div class="modal-body">
                                                        
                        <div class="row"> <!-- nome -->
                            <div class="col-sm-9">
                                <label for="nome" class="fw-bold text-uppercase">Nome Fantasia</label>
                                {{ form.nome }}
                            </div>

                            <div class="col-sm-3">
                                <label for="cod_interno" class="fw-bold text-uppercase">Codigo</label>
                                {{ form.cod_interno }}
                            </div>
                        </div>

                        <div class="mt-2"> <!-- razao_social -->
                            <label for="razao_social" class="fw-bold text-uppercase">Razão Social</label>
                            {{ form.razao_social }}
                        </div>

                        <div class="row mt-2"> <!-- cnpj, insc.est -->
                            <div class="col-sm-6">
                                <label for="cnpj" class="fw-bold text-uppercase">CNPJ</label>
                                {{ form.cnpj }}
                            </div>

                            <div class="col-sm-6">
                                <label for="insc_est" class="fw-bold text-uppercase">Inscrição Estadual</label>
                                {{ form.insc_est }}
                            </div>
                        </div>

                        <div class="row mt-2"> <!-- siglas -->
                            <div class="col-sm-3">
                                <label for="sigla_imp" class="fw-bold text-uppercase">Comex IMP</label>
                                {{ form.sigla_imp }}
                            </div>

                            <div class="col-sm-3">
                                <label for="sigla_exp" class="fw-bold text-uppercase">Comex EXP</label>
                                {{ form.sigla_exp }}
                            </div>

                            <div class="col-sm-3">
                                <label for="serv_sigla_imp" class="fw-bold text-uppercase">Serv. IMP</label>
                                {{ form.serv_sigla_imp }}
                            </div>

                            <div class="col-sm-3">
                                <label for="serv_sigla_exp" class="fw-bold text-uppercase">Serv. EXP</label>
                                {{ form.serv_sigla_exp }}
                            </div>
                        </div>

                        <div class="row mt-2"> <!-- grupo, categoria -->
                            <div class="col-sm-6">
                                <label for="grupo_id" class="fw-bold text-uppercase">Grupo</label>
                                {{ form.grupo_id }}
                            </div>

                            <div class="col-sm-6">
                                <label for="categoria_id" class="fw-bold text-uppercase">Categoria</label>
                                {{ form.categoria_id }}
                            </div>
                        </div>        
                        
                        <div class="mt-2"> <!-- observacoes -->
                            <label for="observacoes" class="fw-bold text-uppercase">Observações</label>
                            {{ form.observacoes }}
                        </div>

                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-warning px-5 mx-5" data-bs-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn btn-sm btn-success px-5" name="create">ADICIONAR</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

    <form method="POST" class="mb-3">
        {% csrf_token %}
        
        <div class="row">

            <div class="col-sm-4">
                <input type="text" name="q" class="form-control form-control-sm" autocomplete="off"
                placeholder="pesquisar por nome, razao_social, cnpj, siglas" value="{{ query }}">
            </div>

            <div class="col-sm-2">
                <select name="status" class="form-control form-control-sm">
                    <option value="">Todas os Status</option>
                    {% for ativo in ativos %}
                    <option value="{{ ativo.id }}">{{ ativo.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-2">
                <select name="grupo" class="form-control form-control-sm">
                    <option value="">Todas os Grupos</option>
                    {% for grupo in grupos %}
                    <option value="{{ grupo.id }}">{{ grupo.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-3">
                <select name="categoria" class="form-control form-control-sm">
                    <option value="">Todas as Categorias</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary btn-sm" name="search">Filtrar</button>
            </div>

        </div>
    </form>

    <table class="table table-responsive table-hover table-sm">

        <thead class="table-dark">
    
          <tr class="small text-uppercase">
            <th scope="col">ID</th>
            <th scope="col">S</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">Razão Social</th>
            <th class="text-center" scope="col">Abrir Processo</th>
            <th class="text-center" scope="col">Ações</th>
          </tr>
    
        </thead>

        <tbody class="table-sm">

            {% for parceiro in parceiros %}
            
            <tr class="small">
                <th class="align-middle" style="width:60px">{{ parceiro.id }}</th>
                <td class="align-middle" style="width:20px">{{ parceiro.status.sigla }}</td>
                <td class="align-middle" style="width:140px">{{ parceiro.cnpj }}</td>
                <td class="align-middle" style="width:180px;">{{ parceiro.nome }}</td>
                <td class="align-middle">{{ parceiro.razao_social }}</td>
                <td class="text-center align-middle" style="width:240px">
                    <a href="" data-bs-toggle="modal" data-bs-target="#processoModal_{{ parceiro.id }}" 
                        class="btn btn-sm btn-info px-4 mx-2">COMEX</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#processoServModal_{{ parceiro.id }}" 
                        class="btn btn-sm btn-secondary px-4">SERV.</a>
                </td>
                <td class="text-center align-middle" style="width:100px">
                    <a href="" data-bs-toggle="modal" data-bs-target="#updateModal_{{ parceiro.id }}" 
                        class="btn btn-sm btn-warning px-2 mx-1"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#deletModal_{{ parceiro.id }}" 
                        class="btn btn-sm btn-danger px-2 mx-1"><i
                        class="fa-solid fa-trash"></i></a>
                </td>
            </tr>

            <!-- update modal -->
            <div class="modal fade" id="updateModal_{{ parceiro.id }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateModal_{{ parceiro.id }}Label" aria-hidden="true">

                    <div class="modal-dialog" role="document">

                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="modal-content">

                                <div class="modal-header bg-warning text-white">
                                    <h5 class="modal-title" id="updateModal_{{ parceiro.id }}Label">ALTERAR PARCEIRO</h5>
                                </div>

                                <div class="modal-body">
                                    <input type="hidden" name="id" value="{{ parceiro.id }}">

                                    <div class="row"> <!-- nome -->

                                        <div class="col-sm-9">
                                            <label for="nome" class="fw-bold text-uppercase">Nome Fantasia</label>
                                            <input required type="text" value="{{ parceiro.nome }}" name="nome" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="cod_interno" class="fw-bold text-uppercase">Codigo</label>
                                            <input type="text" value="{{ parceiro.cod_interno }}" name="cod_interno" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>
                            
                                    </div>
                            
                                    <div class="row mt-2"> <!-- razao_social -->
                                        <div class="col-sm-12">
                                            <label for="razao_social" class="fw-bold text-uppercase">Razão Social</label>
                                            <input required type="text" value="{{ parceiro.razao_social }}" name="razao_social"
                                                class="form-control form-control-sm" autocomplete="off">
                                        </div>
                                    </div>
                            
                                    <div class="row mt-2"> <!-- cnpj, insc.est -->
                            
                                        <div class="col-sm-6">
                                            <label for="cnpj" class="fw-bold text-uppercase">CNPJ</label>
                                            <input type="text" value="{{ parceiro.cnpj }}" name="cnpj" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>
                            
                                        <div class="col-sm-6">
                                            <label for="insc_est" class="fw-bold text-uppercase">Inscrição Estadual</label>
                                            <input type="text" value="{{ parceiro.insc_est }}" name="insc_est"
                                                class="form-control form-control-sm" autocomplete="off">
                                        </div>
                            
                                    </div>
                            
                                    <div class="row mt-2"> <!-- siglas -->
                            
                                        <div class="col-sm-3">
                                            <label for="sigla_imp" class="fw-bold text-uppercase">Comex IMP</label>
                                            <input type="text" value="{{ parceiro.sigla_imp }}" name="sigla_imp" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>
                            
                                        <div class="col-sm-3">
                                            <label el for="sigla_exp" class="fw-bold text-uppercase">Comex EXP</label>
                                            <input type="text" value="{{ parceiro.sigla_exp }}" name="sigla_exp" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="serv_sigla_imp" class="fw-bold text-uppercase">Serv IMP</label>
                                            <input type="text" value="{{ parceiro.serv_sigla_imp }}" name="serv_sigla_imp" class="form-control form-control-sm"
                                                autocomplete="off">
                                          </div>
                              
                                        <div class="col-sm-3">
                                            <label for="serv_sigla_exp" class="fw-bold text-uppercase">Serv EXP</label>
                                            <input type="text" value="{{ parceiro.serv_sigla_exp }}" name="serv_sigla_exp" class="form-control form-control-sm"
                                                autocomplete="off">
                                        </div>
                            
                                    </div>

                                    <div class="row mt-2"> <!-- grupo, categoria, status -->
                                    
                                        <div class="col-sm-4">
                                            <span class="fw-bold text-uppercase">Grupo</span>
                                            <select class="form-control form-control-sm" name="grupo_id">
                                                <option value="{{ parceiro.grupo.id }}">{{ parceiro.grupo.nome }}</option>
                                                {% for grupo in grupos %}
                                                <option value="{{ grupo.id }}">{{ grupo.nome }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                            
                                        <div class="col-sm-4">
                                            <span class="fw-bold text-uppercase">Categoria</span>
                                            <select class="form-control form-control-sm" name="categoria_id">
                                                <option value="{{ parceiro.categoria.id }}">{{ parceiro.categoria.nome }}</option>
                                                {% for categoria in categorias %}
                                                <option value="{{ categoria.id }}">{{ categoria.nome }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <span class="fw-bold text-uppercase">Status</span>
                                            <select class=" form-control form-control-sm" name="status_id">
                                                <option value="{{ parceiro.status.id }}">{{ parceiro.status.nome }}</option>
                                                {% for ativo in ativos %}
                                                    <option value="{{ ativo.id }}">{{ ativo.nome }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                        
                                    </div>

                                    <div class="row mt-2"> <!-- observacoes -->
                                        <div class="col-sm-12">
                                            <label for="observacoes" class="fw-bold text-uppercase">Observações</label>
                                            <input type="text" value="{{ parceiro.observacoes }}" name="observacoes"
                                                class="form-control form-control-sm" autocomplete="off">
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning btn-sm px-5 mx-5" data-bs-dismiss="modal">CANCELAR</button>
                                    <button type="submit" class="btn btn-primary btn-sm px-5" name="update">ALTERAR</button>
                                </div>
                            </div>

                        </form>
                    </div>
            </div>

            <!-- delete modal -->
            <div class="modal fade" id="deletModal_{{ parceiro.id }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletModal_{{ parceiro.id }}Label" aria-hidden="true">
                <div class="modal-dialog">

                    <form action="" method="post">

                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ parceiro.id }}">

                        <div class="modal-content">

                            <div class="modal-header bg-danger text-white">
                                <h5 class="modal-title">EXCLUIR PARCEIRO</h5>
                            </div>

                            <div class="modal-body">
                                <p class="mt-3">Você tem certeza que deseja deletar o parceiro:</p>
                                <p class="fw-bold">{{ parceiro.nome }}</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-warning px-5 mx-5" data-bs-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn btn-sm btn-danger px-5" name="delete">EXCLUIR</button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>

            <!-- processo comex modal -->
            <div class="modal fade" id="processoModal_{{ parceiro.id }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="processoModal_{{ parceiro.id }}Label" aria-hidden="true">

                <div class="modal-dialog">

                    <form action="" method="post">
                    {% csrf_token %}

                        <div class="modal-content">
                            <div class="modal-header bg-info text-white">
                                <h1 class="modal-title fs-5" id="processoModal_{{ parceiro.id }}Label">COMEX - Criar Novo Processo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <input type="hidden" name="id_parceiro" value="{{ parceiro.id }}">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="ref_cliente">Ref Cliente</label>
                                        <input type="text" value="" name="ref_cliente" autocomplete="off" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <div class="col-sm-4">
                                        <span>Comex</span>
                                        <select class="form-control form-control-sm" name="comex">
                                            <option value="I">IMPORTAÇÃO</option>
                                            <option value="E">EXPORTAÇÃO</option>
                                            <option value="O">OUTRO</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <span>Modal</span>
                                        <select class="form-control form-control-sm" name="modal">
                                            <option value="M">MARITIMO</option>
                                            <option value="A">AEREO</option>
                                            <option value="R">RODOVIARIO</option>
                                            <option value="C">COURIER</option>
                                            <option value="P">POSTAL</option>
                                            <option value="O">OUTRO</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <span>Tipo</span>
                                        <select class="form-control form-control-sm" name="tipo">
                                            <option value="1">CONSUMO</option>
                                            <option value="2">REVENDA</option>
                                            <option value="3">NACIONALIZACAO</option>
                                            <option value="4">RECOF</option>
                                            <option value="5">DRAWBACK</option>
                                            <option value="6">AD TEMP</option>
                                            <option value="7">RET EXP TEMP</option>
                                            <option value="8">AGENCIAMENTO</option>
                                            <option value="9">FECHAMENTO</option>
                                            <option value="10">PRE ENTRY</option>
                                            <option value="11">INTERCOMPANY</option>
                                            <option value="12">DIRECT BUY</option>
                                            <option value="99">OUTRO</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-warning px-4 mx-4" data-bs-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn btn-sm btn-success px-4" name="processo">CRIAR NOVO PROCESSO</button>
                            </div>

                        </div>

                    </form>

                </div>

            </div>

            <!-- processo serv modal -->
            <div class="modal fade" id="processoServModal_{{ parceiro.id }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="processoServModal_{{ parceiro.id }}Label" aria-hidden="true">

                <div class="modal-dialog">

                    <form action="" method="post">
                    {% csrf_token %}

                        <div class="modal-content">
                            <div class="modal-header bg-secondary text-white">
                                <h1 class="modal-title fs-5" id="processoModal_{{ parceiro.id }}Label">SERVIÇOS - Criar Novo Processo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <input type="hidden" name="id_parceiro" value="{{ parceiro.id }}">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="ref_cliente">Ref Cliente</label>
                                        <input type="text" value="" name="ref_cliente" autocomplete="off" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <div class="col-sm-4">
                                        <span>Comex</span>
                                        <select class="form-control form-control-sm" name="comex">
                                            <option value="I">IMPORTAÇÃO</option>
                                            <option value="E">EXPORTAÇÃO</option>
                                            <option value="O">OUTRO</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <span>Modal</span>
                                        <select class="form-control form-control-sm" name="modal">
                                            <option value="M">MARITIMO</option>
                                            <option value="A">AEREO</option>
                                            <option value="R">RODOVIARIO</option>
                                            <option value="C">COURIER</option>
                                            <option value="P">POSTAL</option>
                                            <option value="O">OUTRO</option>
                                        </select>
                                    </div>

                                    <section class="col-sm-4">
                                        <span>Tipo</span>
                                        <select class="form-control form-control-sm" name="tipo">
                                            <option value="1">CONSUMO</option>
                                            <option value="2">REVENDA</option>
                                            <option value="3">NACIONALIZACAO</option>
                                            <option value="4">RECOF</option>
                                            <option value="5">DRAWBACK</option>
                                            <option value="6">AD TEMP</option>
                                            <option value="7">RET EXP TEMP</option>
                                            <option value="8">AGENCIAMENTO</option>
                                            <option value="9">FECHAMENTO</option>
                                            <option value="10">PRE ENTRY</option>
                                            <option value="11">INTERCOMPANY</option>
                                            <option value="12">DIRECT BUY</option>
                                            <option value="99">OUTRO</option>
                                        </select>
                                    </section>

                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-warning px-4 mx-4" data-bs-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn btn-sm btn-success px-4" name="processo">CRIAR NOVO PROCESSO</button>
                            </div>

                        </div>

                    </form>

                </div>

            </div>

            {% endfor %}
        </tbody>

    </table>

    <div class="mt-5"></div>
    {% include 'parceiros/_breadcrumb.html' %}

</main>
{% endblock %}